<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <img src="/images/logo.png" class="pull-left" style="display: inline-block; width: 50px">
    <br/>
    <a href="https://www.sap.com/developer/topics/sap-hana-express.html">SAP HANA</a> is a data platform
    that provides everything you need to build real-time data-driven applications. 
    <br>
    <br>
    HANA <%= version %><br>
    App v<%= app_version %><br>

</body>
</html>